<div class="column">
  <nav class="panel">
    <p class="panel-heading"> who to follow </p>
  </nav>
  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="https://bulma.io/images/placeholders/64x64.png">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Emanuel Okello </strong><br/>
            <small>@ox_emmy</small>
          </p>
        </div>
      </div>
    </article>
  </div>
    <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="https://bulma.io/images/placeholders/64x64.png">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>George</strong><br/>
            <small>@GeorgeShammar</small>
          </p>
        </div>
      </div>
    </article>
  </div>
  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="https://bulma.io/images/placeholders/64x64.png">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Abdul Khaliq</strong><br/>
            <small>@Abdulkhaliqdev</small>
          </p>
        </div>
      </div>
    </article>
  </div>
  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="https://bulma.io/images/placeholders/64x64.png">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>aliciapaz</strong><br/>
            <small>@_alicia_paz</small>
          </p>
        </div>
      </div>
    </article>
  </div>
    <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="https://bulma.io/images/placeholders/64x64.png">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Temi</strong><br/>
            <small>@DevGrachy</small>
          </p>
        </div>
      </div>
    </article>
  </div>
  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="https://bulma.io/images/placeholders/64x64.png">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Widz Marc Azaca</strong><br/>
            <small>@widzthedvloper</small>
          </p>
        </div>
      </div>
    </article>
  </div>
  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="https://bulma.io/images/placeholders/64x64.png">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Oever González</strong><br/>
            <small>@NoTengoBattery</small>
          </p>
        </div>
      </div>
    </article>
  </div>
  


</div>

